<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <div class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <!-- <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div> -->
    <span><img src="assets/img/learnafricalogo2.jpg"></span>
    <!-- <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div> -->
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Home</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Assets
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" style="cursor:pointer" routerLink='../allassetgroups' routerLinkActive='active'>
      <i class="fas fa-fw fa-cog"></i>
      <span style="cursor:pointer">Categories</span>
    </a>
    <div id="collapsezero" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" style="cursor:pointer" routerLink='allassetgroups' routerLinkActive='active'>All Categories</a>
        <a class="collapse-item" style="cursor:pointer" routerLink='allassetgroups' routerLinkActive='active'>Create Category</a>
        <a class="collapse-item" style="cursor:pointer" routerLink='allassetgroups' routerLinkActive='active'>View Single Asset</a>

      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" style="cursor:pointer" routerLink='../allassets' routerLinkActive='active'>
      <i class="fas fa-fw fa-cog"></i>
      <span style="cursor:pointer">All Assets</span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" style="cursor:pointer" routerLink='../allassets' routerLinkActive='active'> All Assets</a>
        <a class="collapse-item" style="cursor:pointer" routerLink='../allassets'routerLinkActive='active'>Create Asset</a>
        <a class="collapse-item" style="cursor:pointer" routerLink='../allassets'routerLinkActive='active'>View Single Asset</a>

      </div>
    </div>
  </li>


  <li class="nav-item">
    <a class="nav-link collapsed" style="cursor:pointer" routerLink='../allallocations' routerLinkActive='active'>
      <i class="fas fa-fw fa-cog"></i>
      <span style="cursor:pointer" >Allocations</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" style="cursor:pointer" routerLink='../allallocations' routerLinkActive='active'>All Allocations</a>
        <a class="collapse-item" style="cursor:pointer" routerLink='allallocations' routerLinkActive='active' (click)='showAllocationTable()'>Create Allocation</a>
        <a class="collapse-item" style="cursor:pointer" routerLink='allallocations' routerLinkActive='active' (click)='showAllocationTable()'>View Single Asset</a>

      </div>
    </div>
    <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" href="buttons.html">Buttons</a>
        <a class="collapse-item" routerLink='/allassetgroups' routerLinkActive='active'>Create Asset</a>
      </div>
    </div> -->
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" style="cursor:pointer" routerLink='../users' routerLinkActive='active'>
        <i class="fas fa-fw fa-cog"></i>
        <span style="cursor:pointer" >Users</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Custom Components:</h6>
          <a class="collapse-item" style="cursor:pointer" routerLink='../users' routerLinkActive='active'>All Allocations</a>
          <a class="collapse-item" style="cursor:pointer" routerLink='users' routerLinkActive='active' (click)='showAllocationTable()'>Create Allocation</a>
          <a class="collapse-item" style="cursor:pointer" routerLink='users' routerLinkActive='active' (click)='showAllocationTable()'>View Single Asset</a>

        </div>
      </div>

    </li>


  <!-- <li class="nav-item">
    <a class="nav-link collapsed" routerLink='/allAssets' routerLinkActive='active' data-toggle="collapse"
      data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Categories</span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item">Assets</a>
        <a class="collapse-item" data-toggle="modal" data-target="#categoryModal">Create Asset</a>
        <a class="collapse-item" routerLink='/allassetgroups' routerLinkActive='active'>View Single Asset</a>

      </div>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" href="buttons.html">Buttons</a>
        <a class="collapse-item" routerLink='/allassetgroups' routerLinkActive='active'>Create Asset</a>
      </div>
    </div>
  </li> -->


  <li class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span style="cursor:pointer" >Faults</span>
    </a>
    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" style="cursor:pointer">All Faults</a>
        <a class="collapse-item" style="cursor:pointer">Create Asset</a>
        <a class="collapse-item" style="cursor:pointer">View Single Asset</a>

      </div>
    </div>
    <!-- <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar2">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item">Buttons</a>
        <a class="collapse-item">Create Asset</a>
      </div>
    </div> -->
  </li>


  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span style="cursor:pointer">Engineers</span>
    </a>
    <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" style="cursor:pointer">Assets</a>
        <a class="collapse-item" style="cursor:pointer">Create Asset</a>
        <a class="collapse-item"  style="cursor:pointer">View Single Asset</a>

      </div>
    </div>
    <!-- <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar3">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="utilities-color.html">Colors</a>
        <a class="collapse-item" href="utilities-border.html">Borders</a>
        <a class="collapse-item" href="utilities-animation.html">Animations</a>
        <a class="collapse-item" href="utilities-other.html">Other</a>
      </div>
    </div> -->
  </li>


  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span style="cursor:pointer">Utilities</span>
    </a>
    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" style="cursor:pointer">Assets</a>
        <a class="collapse-item" style="cursor:pointer">Create Asset</a>
        <a class="collapse-item" style="cursor:pointer">View Single Asset</a>

      </div>
    </div>
    <!-- <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar4">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="utilities-color.html">Colors</a>
        <a class="collapse-item" href="utilities-border.html">Borders</a>
        <a class="collapse-item" href="utilities-animation.html">Animations</a>
        <a class="collapse-item" href="utilities-other.html">Other</a>
      </div>
    </div> -->
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar5">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Login Screens:</h6>
        <a class="collapse-item" href="login.html">Login</a>
        <a class="collapse-item" href="register.html">Register</a>
        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="404.html">404 Page</a>
        <a class="collapse-item" href="blank.html">Blank Page</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>      </div> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal For Getting Asset Categories -->

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="container shadow" [formGroup]="allocationViewFormGroup">
            <div class="py-4" style="text-align:center">
              <h5>PLEASE FILL IN CARD DETAILS</h5>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">code</label>
              <input type="text" class="form-control" formControlName="code" id="validationDefault01"
                aria-describedby="emailHelp" placeholder="">
              <!-- <small style="color:red" *ngIf='!makeIdFormGroup.valid'>enter full name</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">detail</label>
              <input type="number" class="form-control" formControlName="detail" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="">
              <!-- <small style="color:red" *ngIf='!makeIdFormGroup.valid'>Numbers only!</small> -->

            </div>

            <div class="pr-1">
              <button type="submit" [disabled]="!allocationViewFormGroup.valid" class="btn btn-primary">Submit</button>
            </div>
            <small *ngIf="!allocationViewFormGroup.valid">Please fill all details above to create your Id</small>
            <br>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
